.speed__adv {
    background: url(../images/speedbg.png) center (center / cover) no-repeat;
    width: 240px;
    height: 489px;
    margin-left: 2.58rem;
    border-radius: 3px;
    border: solid 1px #e5e5e5;
    background-color: #c46161;
}